* {
  padding: 0px;
  margin: 5px;
}

h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
  font-size: 15px;
}
p {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.flexRowContainer {
  border: 1px solid black;
  display: flex;
  height: 50px;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;
}

.flexRowItem {
  background-color: lightblue;
  border: 1px solid black;
  color: black;
  font-size: 12px;
  height: 50px;
  width: 50px;
  text-align: center;
  align-content: center;
  margin: 0px;
}

.flexColContainer {
  border: 1px solid black;
  display: flex;
  height: auto;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.flexColItem {
  background-color: lightblue;
  border: 1px solid black;
  color: black;
  font-size: 12px;
  height: 40px;
  width: 199vh;
  text-align: center;
  align-content: center;
  margin: 0px;
}

.flexRowContainer2 {
  border: 1px solid black;
  display: flex;
  height: 50px;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.flexRowItem2 {
  background-color: lightblue;
  border: 1px solid black;
  color: black;
  font-size: 12px;
  height: 50px;
  width: 50px;
  text-align: center;
  align-content: center;
  margin: 0px;
}

.flexRowContainer3 {
  border: 1px solid black;
  display: flex;
  height: 50px;
  gap: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
.flexRowItem3 {
  background-color: lightblue;
  border: 1px solid black;
  color: black;
  font-size: 12px;
  height: 50px;
  width: 50px;
  text-align: center;
  align-content: center;
  margin: 0px;
}
