.gridContainer {
  border: 3px solid black;
  height: 90vh;
  display: grid;
  /* grid-template-columns: 100px 200px 300px 400px;
    grid-template-rows: 100px 100px; */
  /* grid-template-columns: 200px 200px 200px 200px;
    grid-template-columns: 100px repeat(4, 200px); */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 100px;

  /*row-gap: 10px;
  column-gap: 10px;*/
  gap: 10px;
  justify-content: space-evenly;
  align-content: flex-start;
}

.item {
  color: mediumblue;
  border: 3px solid;
  background-color: azure;
  padding: 30px 40px;
}
.item:nth-child(1) {
  /*grid-column-start: 3;
  grid-column-end: -1;*/
  grid-column: 3/-1;

  /*grid-row-start: 2;
  grid-row-end: 3;*/
  grid-row: 2/3;
}

.item:nth-child(8) {
  grid-column: 2/3;
  grid-row: 1/2;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "head head head"
    "navbar mainContent Aside"
    "Footer Footer Footer";
}

header {
  grid-area: head;
  background-color: bisque;
  color: black;
  padding: 10px;
}

nav {
  grid-area: navbar;
  background-color: darkgrey;
  color: brown;
  border: 1px solid;
}

aside {
  grid-area: Aside;
  background-color: antiquewhite;
  color: blue;
  border: 1px solid;
}

footer {
  grid-area: Footer;
  background-color: orchid;
  color: crimson;
  border: 10px solid;
}

header:hover {
  transform: translateY(10px);
}
.flexItem:hover {
  transform: translateX(-10px);
}

@media (max-width: 576px) {
  body {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "head head"
      "navbar mainContent"
      "Footer Footer";
  }
  aside {
    display: none;
  }
  .flexItem {
    font-size: 14px;
    height: 50px;
    width: 50px;
  }
  main {
    background-color: red;
  }
}

@media ((min-width: 577px) and (max-width:768px)) {
  body {
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "head head head"
      "mainContent aside"
      "Footer Footer";
  }
  nav {
    display: none;
  }
}

@media ((min-width: 769px) and (max-width:992px)) {
  body {
    grid-template-areas:
      "head head head"
      "Aside mainContent navbar"
      "Footer Footer Footer";
  }
}
